- if can? :update, @group
  - content_for :navbar do
    %li
      %a{ href: group_players_path(@group) }
        = fa_icon 'users', text: 'Manage Players'
    %li
      %a{ href: edit_group_path(@group) }
        = fa_icon 'cog', text: 'Edit Group'