- content_for :navbar do
  - if can? :update, @group
    %li
      %a{ href: group_players_path(@group) }
        = fa_icon 'users', text: 'Players'

    %li
      %a{ href: edit_group_path(@group) }
        = fa_icon 'cog', text: 'Edit Group'

  - if can?(:manage_games, @group) && @group.games.any?
    %li
      %a(data-method="DELETE" data-confirm="Do you realy want to delete the last game? This action cannot be undone!"){ href: destroy_game_group_path(@group), 'data-disable-with' => spinner }
        = fa_icon 'trash-o', text: 'Delete Last Game'