- set_meta_tags title: @group.name

- render 'groups/navbar_with_delete_last_game'

- content_for :breadcrumbs do
  #header.row
    .col-md-12
      %ol.breadcrumb
        %li
          = link_to fa_icon('home'), root_path
        %li.active
          = current_group.name

.row
  .col-md-7
    = render 'games/paginated_list'

  .col-md-5
    = render 'players/ranked_list'