- set_meta_tags title: current_group.name

- content_for :breadcrumbs do
  %ol.breadcrumb
    %li
      = link_to fa_icon('home'), root_path
    %li.active
      = current_group.name

.row
  .col-md-7
    = render file: 'games/index'

  .col-md-5
    = render file: 'players/index'