.games
  .open-game
    = render "games/#{@game.try(:status) || 'start' }_game"

  - if @games.any?
    .all-games
      %table.table.table-striped.table-hover
        %tbody
          - @games.each do |game|
            = date_indicator game
            - game.ordered_teams.tap do |teams|
              %tr
                %td.team
                  %span.player><= player_link teams[0].player_ids.first
                  ,&nbsp;
                  %span.player><= player_link teams[0].player_ids.last
                %td.score
                  %span{ class: winner_loser_class(teams[0]) }><= fa_icon 'star'
                  .label.alert-info><= teams[0].goals
                  %span><= ':'
                  .label.alert-info><= teams[1].goals
                  %span{ class: winner_loser_class(teams[1]) }><= fa_icon 'star'
                %td.team
                  %span.player><= player_link teams[1].player_ids.first
                  ,&nbsp;
                  %span.player><= player_link teams[1].player_ids.last

      = paginate @games

  - else
    .alert.alert-warning
      No games found.