.games
  .open-game
    - if @game
      = render "games/#{@game.status}_game"

  - if @games.any?
    .all-games
      %table.table.table-striped
        %tbody
          - @games.each do |game|
            %tr
              %td.team
                %span.player><= player_link game.teams.first.players.first
                ,&nbsp;
                %span.player><= player_link game.teams.first.players.last
              %td.score
                %span{ class: winner_loser_class(game.teams.first) }><= fa_icon 'star'
                .label.alert-info><= game.teams.first.goals
                %span><= ':'
                .label.alert-info><= game.teams.last.goals
                %span{ class: winner_loser_class(game.teams.last) }><= fa_icon 'star'
              %td.team
                %span.player><= player_link game.teams.last.players.first
                ,&nbsp;
                %span.player><= player_link game.teams.last.players.last

      = paginate @games

  - else
    .alert.alert-warning
      No games found.