- set_meta_tags title: @player.name

- content_for :breadcrumbs do
  %ol.breadcrumb
    %li
      = link_to fa_icon('home'), root_path
    %li.active
      = link_to current_group.name, group_path(current_group)
    %li.active
      = @player.name

%h1= @player.name