@mixin open-game-box {
  border-radius: 6px;
  text-align: center;
  padding: 20px 0;
  background-color: #eee;
  margin-bottom: 10px;
}

.games {
  .all-games table {
    table-layout: fixed;

    td {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;

      br { display: none; }
    }
  }

  .team1 {
    text-align: right;
  }

  .team2 {
    text-align: left;
  }

  .running-game {
    @include open-game-box();

    .goals {
      font-size: 100px;
      font-weight: bold;
      display: inline-block;
    }

    .team a {
      display: block;
      font-size: 18px;
    }

    .vs .label {
      position: relative;
      top: 15px;
    }

    .running-game-controls {
      padding: 20px 0;
      background-color: #eee;
      border-radius: 6px;
      margin-bottom: 10px;

      a {
        padding: 20px 40px;
      }
    }

    .finish {
      margin-bottom: 10px;

      a {
        padding: 20px 30px;
        font-size: 26px;
      }
    }
  }

  .created-game {
    @include open-game-box();

    ul.available-players {
      list-style: none;
    }

    ul.chosen-players {
      list-style: none;

      a {
        font-size: 20px;
      }

      &.chosen-players-1 {
        padding: 0 40px 0 0;
      }
    }

    ul.available-players-1 {
      padding: 0 40px 0 0;
    }

    .actions {
      margin: 20px 0 10px 0;

      .start {
        margin-bottom: 20px;

        a {
          padding: 20px 40px;
        }
      }
    }
  }

  .start-game{
    text-align: center;

    a {
      margin-bottom: 15px;
    }
  }

  .all-games {
    .player {
      //white-space: nowrap;
    }

    .team {
      //width: 35%;
    }

    .score {
      //width: 30%;

      .label {
        margin: 0 2px;
        font-size: 21px;
        font-weight: bold;
        padding: 2px 7px;
        background-color: #428BC9;
        color: #fff;
      }

      .badge {
        font-weight: normal;
        position: relative;
        top: -3px;
        font-size: 11px;
        width: 30px;
      }
    }

    tr.date-indicator td {
      padding: 0px;
      font-size: 11px;
      background-color: #428bca;
      color: #fff;
    }
  }
}

@media (max-width: 480px) {
  .games {
    .all-games table td {
      br { display: block; }
      .badge { display: none; }
      span.comma { display: none; }
    }

    .created-game {
      ul.chosen-players {
        a {
          font-size: 15px;
        }
      }
    }

    .running-game {
      .running-game-controls a {
        padding: 15px;
      }
    }
  }
}