@mixin open-game-box {
  border-radius: 6px;
  text-align: center;
  padding: 20px 0;
  background-color: #eee;
  margin-bottom: 10px;
}

.games {
  .all-games table td {
    text-align: center;
  }

  .team1 {
    text-align: right;
  }

  .team2 {
    text-align: left;
  }

  .running-game {
    @include open-game-box();

    .goals {
      font-size: 100px;
      font-weight: bold;
      display: inline-block;
    }

    .team a {
      display: block;
      font-size: 18px;
    }

    .vs .label {
      position: relative;
      top: 15px;
    }

    .running-game-controls {
      padding: 20px 0;
      background-color: #eee;
      border-radius: 6px;
      margin-bottom: 10px;

      a {
        padding: 20px 40px;
      }
    }

    .finish {
      margin-bottom: 10px;
    }
  }

  .created-game {
    @include open-game-box();

    ul.available-players {
      list-style: none;
    }

    ul.chosen-players {
      list-style: none;
      padding: 0;
      font-size: 20px;
    }

    ul.available-players-0 {
      text-align: left;
    }

    ul.available-players-1 {
      text-align: right;
      padding: 0 40px 0 0;
    }

    .actions {
      margin: 20px 0 10px 0;

      .start {
        margin-bottom: 10px;
      }
    }
  }

  .start-game{
    text-align: center;

    a {
      margin-bottom: 15px;
    }
  }

  .all-games {
    .player {
      //white-space: nowrap;
    }

    .team {
      width: 35%;
    }

    .score {
      width: 30%;

      .label {
        margin: 0 2px;
        font-size: 14px;
        font-weight: normal;
      }

      .winner i {
        color: #ffe237;
        text-shadow: 0px 1px 1px #666;
        margin: 0 10px;
      }

      .loser i {
        opacity: 0;
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .games .all-games {
    .winner,
    .loser {
      display: none;
    }
  }
}