.players {
  .trophy {
    position: relative;
    top: 1px;

    i { text-shadow: 0 -1px #999, 1px 0 #999, 0 1px #999, -1px 0 #999; }
    &.position-1 i.fa-circle { color: #ffed2c; }
    &.position-2 i.fa-circle { color: #dbdbdb; }
    &.position-3 i.fa-circle { color: #ffa43f; }
  }

  .name {
    height: 25px;
    display: inline-block;
    position: relative;
    top: 4px;

    &.with_trophy {
      top: 2px;
    }
  }

  .label {
    position: relative;
    top: 1px;

    &.pull-left {
      margin-right: 10px;
      font-weight: normal;
    }

    &.pull-right {
      margin-left: 10px;
      font-weight: normal;
    }

    span {
      &.text {
        position: relative;
        top: -1px;
      }

      &.number {
        font-size: 20px;
      }
    }
  }
}

#player {
  table {
    .title {
      position: relative;
      top: 5px;
    }

    .numbers {
      .absolute {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
      }

      .percentage {
        position: relative;
        top: -2px;
      }
    }
  }
}