.trophy {
  position: relative;
  top: 1px;

  i { text-shadow: 0 -1px #999, 1px 0 #999, 0 1px #999, -1px 0 #999; }
  &.position-1 i.fa-circle { color: #ffed2c; }
  &.position-2 i.fa-circle { color: #dbdbdb; }
  &.position-3 i.fa-circle { color: #ffa43f; }
}

.players {
  .list-group {
    margin-bottom: 0;
  }

  .name {
    height: 25px;
    display: inline-block;
    position: relative;
    top: 4px;

    &.with_trophy {
      top: 2px;
    }
  }

  .label {
    position: relative;
    top: 1px;

    &.pull-left {
      margin-right: 10px;
      font-weight: normal;
    }

    &.pull-right {
      margin-left: 10px;
      font-weight: normal;
    }

    span {
      &.text {
        position: relative;
        top: -1px;
      }

      &.number {
        font-size: 20px;
      }
    }
  }
}

#player {
  h1 {
    .trophy {
      font-size: 0.75em;
      top: -2px;
    }

    .badge {
      padding: 6px 15px;
      font-size: 33px;
      margin-bottom: 20px;

      &.plain {
        color: #fff;
        background-color: #333;
      }

      a {
        color: #fff;

        &:hover {
          color: #428BC9;
          text-decoration: none;
        }
      }

      .prefix {
        transform:         rotate(90deg);
        -ms-transform:     rotate(90deg);
        -webkit-transform: rotate(90deg);

        display:     inline-block;
        font-size:   11px;
        position:    relative;
        width:       10px;
        font-weight: normal;

        &.player { top: -19px; }
        &.place  { top: -17px; }
        &.score  { top: -18px; }
        &.games  { top: -21px; }
        &.goals  { top: -18px; }
      }

      .postfix {
        font-size: 12px;
        position: relative;
        top: -14px;
      }
    }
  }

  .panel-heading span {
    font-size: 10px;
    position: relative;
    top: 2px;
  }

  .panel-primary {
    border-color: #bce8f1;

    .panel-heading {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
  }
}